.api-display{
    height:100%;
    display:grid;
    grid-template-rows: 1fr;
    grid-template-columns: 2fr 10fr;    
    grid-template-areas: 
        "api-body-main lucid-output"        
  }
  
 .api-body-main{
    grid-area:api-body-main;
}

.errorMsg{
    padding:3rem 0rem 0rem 0rem;
    font-size: 2rem;
    color: red;
    font-weight: bold;
    text-align: center;
    width:100%;
}

pre{
    font-family: inherit;
}

.key { color: green; }

.overlay{
  opacity:.5;
}


.index-search-box{    
    position: absolute;
    background:  #191919;
    width:500px;
    height:170px;
    top:5%;
    right:15%;
    border: 1px solid rgba(255,2555,2555, .1);
    z-index: 1000;
    display:none;
    align-items: center;    
}

.index-search-box-move {
    height:15%;
    background: grey;
    cursor: move;
    width:100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.index-search-box-move .icon{    
    margin-right: 5px;
    cursor:pointer;
}
.index-search-query{  
    width:80% ;
    align-items: center;
    border-bottom: 2px solid grey;
    margin:20px;
}


.lucid-output{
    grid-area: lucid-output; 
    overflow:auto;
    margin:15px;
    z-index: 10;  
}


.index-search-query input{  
    border:0;
    padding:10px;
    font-size:1.2rem;
    color:inherit;    
    background: transparent;
    font-weight: inherit;
    outline:0; 
    width:95% ;
    z-index: 2000;
    margin-top:20px;
    
} 

.index-search-query svg{ 
    width:5%;
    cursor: pointer;
}

.hidden-Response{
    display:none;
}

.tool-buttons{
    float:right;
    margin-right:35px;
    display:none;
}

.tool-buttons .tooltiptext {
    position:absolute;
    margin-top:30px;
    opacity: 0;
    font-size: 0.8rem;
    background-image: linear-gradient(375deg,rgb(248, 214, 100),rgb(199, 209, 205));
    color: rgb(22, 1, 1);    
    border-radius: 50px;
    background-color: #fff;
    box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1),0 5px 15px rgba(0, 0, 0, 0.07);
    padding: .55rem 1rem;
    transition: all 0.3s ease-in-out;
    pointer-events: none;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
}

.tool-buttons:hover .tooltiptext {
    opacity: 0.9;
}