*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-size:14px;
}
body {
    background:black;
    color:rgb(199, 197, 197);  
}

main {
    height:100vh; 
    display:grid;
    grid-template-rows: 1fr 10fr;
    grid-template-columns: 1fr;
    grid-template-areas: 
        "header-content"
        "api-display"
        /* "footer-content footer-content footer-content"; */
}

.header-content {
    grid-area:header-content;
}

.api-display{
    grid-area:api-display;
}

.footer-content {
    grid-area:footer-content;    
    align-content: center;
    display:flex;
    justify-content: center;
}

.google-login{
    margin:20px;
    display:flex;
    height:100vh;
    flex-direction: column;
}

.login-msg{
    margin:30px 0px 10px 0px;
  /*  font-family:'Times New Roman', Times, serif;     */
    color:#b9b3b3;
}

.login-warning{
    margin:30px 0px 10px 20px;
    /*  font-family:'Times New Roman', Times, serif;     */   
    color:#b9b3b3;
}
/* 
@media screen and (max-width: 1024px){
    main {
        height:100vh;
        display:grid;
        grid-template-rows: .1fr 1fr 1fr 1fr 10fr 1fr;
        grid-template-columns: 1fr;
        grid-template-areas: 
            "header-content"
            "site-links"
            "api-links"
            "env-links"
            "api-display"
            "footer-content";
    }
    *{
       font-size:10px;
    }
    .api-links{
        justify-content: left;    
    }

    .env-links {
        justify-content: left;   
        align-content: flex-start; 
    }
} */